html{
  scroll-behavior: smooth;
}

* {
  margin:0;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.app_left{
  flex:0.8;
}


.app_header{
  display: flex;
  justify-content:space-between;
  align-items: center;
}


#app_dropdown{
  width: 200px;
  margin-top: 10px;
}

.app_stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoBox{
  width:300px
}

@media (max-width: 883px){
  .app{
    flex-direction: column;
  }
  .infoBox{
    width: auto;
  }
}